html,
body,
* {
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
body {
  background: #f2f4fc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.nav-bar {
  font-weight: 300;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  list-style: none;
}
a {
  font-weight: 300;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}
.home {
  color: #072ac8;
  font-size: 20px;
  font-weight: 300;
}
.button {
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #072ac8;
  border: none;
  padding: 15px 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
.nav-bar li {
  display: inline-block;
  padding: 0 10px;
}
/*form*/
h1 {
  font-size: 60px;
}
.form-style {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.user-input {
  color: #6b708d;
  font-size: 20px;
  margin-bottom: 5px;
}
.text-n-area {
  height: 50px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #E6E9F1;
}
.form-style2 {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.text-area {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #E6E9F1;
}
.text-m-area{
  height: 300px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #E6E9F1;
}

.labels{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.error-message-red{
  color: red;
}

input, textarea {
  border: none;
}


/*footer*/
.footer{
  display: flex;
  justify-content: space-between;
}
.half-left-footer{
  display: flex;
  flex-direction: column;
}
.right-side-footer{
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  justify-content: space-between;
} 
.logo{
  width: 30%;
  height: 30%;
}
